<!--<footer class="inline">
    <div class="inline">
        <div class="center inline">

            <button>
                <img [src]="windows"/><br/>
            </button>

            <button *ngIf="this._portfolioService.cmdWindow" (click)="this._home.open('cmd')">
                <img [src]="cmd"/><br/>
            </button>

            <button *ngIf="this._portfolioService.folderWindow" (click)="this._home.open('folder')">
                <img class="folder-icon" [src]="folder"/><br/>
            </button>

            <button *ngIf="this._portfolioService.notepadWindow" (click)="this._home.open('notepad')">
                <img class="icon" [src]="notepad"/><br/>
            </button>

        </div>
    </div>
    <div class="center inline">
        <button>
            <img [src]="windows"/><br/>
        </button>
    </div>

    <div class="time">
        {{time}}<br/>
        {{date}}
    </div>

</footer>-->