
<div class="container">
    <img class="folder" [src]="folder" /> 
    <div class="closeBtn">
        <button class="btnClose" (click)="this._home.close('folder')">X</button>
      </div>
    <button class="square-button btn1">
        <img class="small-img" [src]="folderWork"/><br/>
        <span>Professional Experience</span>
    </button>
    <button class="square-button btn2"> 
        <img class="small-img" [src]="folderEducation"/><br/>
        <span>Education</span>
    </button>
    <!--<a href="../../assets/files/FabioGoncalves_CV_en.pdf" target="_blank">-->
        <a href="https://fabiomtgoncalves.github.io/portfolio-old/files/FabioGoncalves_CV_en.pdf" target="_blank">
        <button class="square-button btn3">
            <img class="pdf-img" [src]="pdf"/><br/>
            <span>CV</span>
        </button>
    </a>
</div>
