
<div class="container">
    <img class="folder" [src]="folder" /> 
    <div class="closeBtn">
        <button class="btnClose" (click)="this._home.close('folder')">X</button>
      </div>
    <button class="square-button btn1">
        <img class="doc-img" [src]="word"/><br/>
        <span>Professional Experience</span>
    </button>
    <button class="square-button btn2" (click)="this._home.open('wordEducation')"> 
        <img class="doc-img" [src]="word"/><br/>
        <span>Education</span>
    </button>
    <button class="square-button btn3" (click)="openCV()">
        <img class="pdf-img" [src]="pdf"/><br/>
        <span>CV</span>
    </button>
</div>
