<!--<div cdkDrag>
    <img class="folder" [src]="folder" /> 
    <div class="folder-btn">
        <button class="square-button">
            <img class="small-img" [src]="folderWork"/><br/>
            <span class="button-text">Professional Experience</span>
        </button>
        <button class="square-button">
            <img class="small-img" [src]="folderEducation"/><br/>
            <span class="button-text">Education</span>
        </button>
    </div>
</div>-->

<!--<div cdkDrag>
    <img class="folder" [src]="folder" /> 
    <div class="folder-btn">
        <button class="square-button">
            <img class="small-img" [src]="folderWork"/><br/>
            <span class="button-text">Professional Experience</span>
        </button>
        <button class="square-button">
            <img class="small-img" [src]="folderEducation"/><br/>
            <span class="button-text">Education</span>
        </button>
    </div>
</div>-->

<div class="container">
    <img class="folder" [src]="folder" /> 
    <button class="square-button btn1">
        <img class="small-img" [src]="folderWork"/><br/>
        <span class="button-text">Professional Experience</span>
    </button>
    <button class="square-button btn2"> 
        <img class="small-img" [src]="folderEducation"/><br/>
        <span class="button-text">Education</span>
    </button>
    <a href="../../assets/files/FabioGoncalves_CV_en.pdf" target="_blank">
        <button class="square-button btn3">
            <img class="pdf-img" [src]="pdf"/><br/>
            <span class="button-text">CV</span>
        </button>
    </a>
</div>
