div{
    width: fit-content;
    height: fit-content;
}


.container {
    position: relative;
    width: 100%;
    height: 100%;
}


.cima{
    z-index: 100;
}

img{
    pointer-events: none
}


.grid-notepad { grid-area: notepad; width: fit-content;}
.grid-cmd { grid-area: cmd; width: fit-content;}
.grid-folder { grid-area: folder; width: fit-content;}

.grid-container {
    display: grid;
    grid-template-areas:
      'cmd cmd cmd cmd cmd notepad'
      'folder folder folder folder folder notepad';
    grid-gap: 10px;
    padding-top: 40px;
    padding-left: 150px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  

.square-button{
    left: 1%;
    position: absolute;
    background-color: #555;
    background-color: transparent;
    border: none;
    width: 100px;
    color: white;
    border-radius: 5px;
    text-align: center;
}

button:hover {
    background-color: rgba(91, 95, 102, .4);
    border-radius: 5px;
}

.small-img {
    max-width: 80px;
}

.recycle{
    top: 5%;
}

.cmd{
    top: 30%;
}

.notepad{
    top: 50%;
}

.notepad-icon{
    width: 50px;
}

.folder{
    top: 67%;
}