


img{
    border-radius: 5px;
}


.container {
    position: relative;
    text-align: center;
    color: white;
}

.notepad-txt {
    position: absolute;
    top: 0;
    padding-top: 12%;
    padding-left: 7%;
    bottom: 0;
    font-size: 17px;
}


.hiddenBtn{
    display: none;
}

.folderWork{
    width: 30px;
}

img{
    pointer-events: none
}


.grid-notepad { grid-area: notepad; }
.grid-cmd { grid-area: cmd; }
.grid-folder { grid-area: folder; }

.grid-container {
    display: grid;
    grid-template-areas:
      'cmd cmd cmd cmd cmd notepad'
      'folder folder folder folder folder notepad';
    gap: 10px;
    padding-top: 40px;
    padding-left: 300px;
    padding-right: 400px;
  }
  
.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

