
<div class="container">

    <button *ngIf="folderShow" id="folder" class="square-button recycle" (click)="open('folder')"  (cdkDragEnded)="onDrag('folder')" cdkDrag>
        <img class="small-img" [src]="folder"/><br/>
        <span>About me</span>
    </button>

    <button *ngIf="notepadShow" id="notepad" class="square-button notepad" (click)="open('notepad')" (cdkDragEnded)="onDrag('notepad')" cdkDrag>
        <img class="notepad-icon" [src]="notepad"/><br/>
        <span>Untitled</span>
    </button>

    <button *ngIf="cmdShow" id="cmd" class="square-button cmd" (click)="open('cmd')" (cdkDragEnded)="onDrag('cmd')" cdkDrag>
        <img class="small-img" [src]="cmd"/><br/>
        <span>cmd</span>
    </button>

    <button id="bin" class="square-button folder" (cdkDragStarted)="getCord($event)" cdkDrag>
        <img class="small-img" [src]="recycle"/><br/>
        <span>Recycle Bin</span>
    </button>

    <div class="grid-container">
        <!--<button class="hiddenBtn" type="hidden" (window:keypress)="projectsEnter($event)"></button>-->
    
        <div class="grid-cmd" id="grid-cmd" cdkDrag (cdkDragStarted)="dragIndex('2', '1', '1')" (click)="dragIndex('2', '1', '1')">
            <app-cmd class="cima" *ngIf="this._portfolioService.cmdWindow"></app-cmd>
        </div>
    
        <div class="grid-folder" id="grid-folder" cdkDrag (cdkDragStarted)="dragIndex('1', '1', '2')" (click)="dragIndex('1', '1', '2')">
            <app-folder *ngIf="this._portfolioService.folderWindow"></app-folder>
        </div>  
    
        <div class="grid-notepad" id="grid-notepad" cdkDrag (cdkDragStarted)="dragIndex('1', '2', '1')" (click)="dragIndex('1', '2', '1')">
            <app-notepad *ngIf="this._portfolioService.notepadWindow"></app-notepad>
        </div>
    
    </div>

</div>


